.container {
    padding-top: 230px;
}

.image-backdrop {
    background-image: url("./../../../assets/pictures/image 4.1.png");
    background-color: black;
    width: 100vw;
    /* height: 100vh; */
    z-index: -1;
    padding-bottom: 240px;
}

.image-movie {
    width: 392px;
    height: 552px;
    margin-left: 10%;
}

.title-movie {
    font-family: Campton;
    font-size: 48px;
    line-height: 60px;
    /* margin-left: 41%; */
    margin-top: 136px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.buttonContainer {
    /* margin-left: 41%; */
    margin-top: 55px;
}

.description {
    /* margin-left: 41%; */
    font-family: Campton;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.6;
}

.button1 {
    margin-right: 16px;
    width: 176px;
    height: 48px;
    background-color: #F5044C;
    border-radius: 8px;
    border-color: #F5044C;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    font-family: Campton;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.button2 {
    width: 176px;
    height: 48px;
    border-color: #1E1E1E;
    background: #1E1E1E;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    font-family: Campton;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}