<div class="container-header">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <button class="btn btn-dark">Home</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-dark">Categories</button>
    </li>
    <li class="nav-item">
      <h1><img src="../../assets/img/moovie-watchers_logo.png" alt="Moovie"></h1>
    </li>
    <li class="nav-item">
      <button class="btn btn-dark">Watchlist</button>
    </li>
    <li class="nav-item2">
      <button class="btn btn-dark">Contact</button>
    </li>
  </ul>


</div>
