<div class="myBackground">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="txtTitle">See what movies are coming next month</p>
            </div>
            <div class="col-md-6">
                <div class="form-row">
                    <p class="txtFilter">Filter by</p>
                    <select class="form-control mySelect" [(ngModel)]="filter" (ngModelChange)="dataChanged($event)">
                        <option selected>Default</option>
                        <option *ngFor="let category of categorys" [value]="category.name">{{ category.name }}</option>
                    </select>
                    <div class="col-xs-12 col-12 col-md-4 form-group">
                        <input type="text" placeholder="Any date" class="form-control theme-red" [bsConfig]="bsConfig"
                        bsDatepicker [(ngModel)]="ngbdate" (bsValueChange)="Datesort($event)" [minDate]="minDate"
                        [maxDate]="maxDate">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;">
        <div>
            <div class="row">
                <div class="col-md-3 position" *ngFor="let movie of moviesArray">
                    <!-- <div class="pictureContainer" [style.background-image]="image"> -->
                    <img [src]="movie.coverUrl" alt="orice" [routerLink]="['/movie-details', movie.id]">
                    <button class="btn btnRemove" (click)="addMovie(movie)">Add to watchlist</button>
                    <button class="btn btnScore">{{movie.imdbScore}}</button>
                    <!-- </div> -->
                    <p class="titleMovie">{{ movie.title }}</p>
                    <p>{{ movie.category[0].name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>