<div class="section1">
  <form [formGroup]="addMovie" (ngSubmit)="createMovie()">
    <h5 class="title">{{titleModal}}</h5><br>
    <div class="form-row">
      <div class="form-group col-6">
        <label for="title" class="text">Movie title<span class="requiredField">*</span></label><br>
        <input type="text" formControlName="title" [(ngModel)]="this.movies.title" class="tbox" name="title"><br>
      </div>

      <div class="form-group col-6">
        <label for="TrailerURL" class="text">Trailer URL<span class="requiredField">*</span></label><br>
        <input type="text" formControlName="trailerUrl" [(ngModel)]="this.movies.trailerUrl" class="tbox"
          name="TrailerURL"><br>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-12">
        <label for="originalSource" class="text">Original source<span class="requiredField">*</span></label><br>
        <input type="text" formControlName="originalSourceUrl" [(ngModel)]="this.movies.originalSourceUrl"
          name="originalSource" class="tbox"><br>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <label for="coverURL" class="text">Cover URL</label><br>
        <input type="value" formControlName="coverUrl" [(ngModel)]="this.movies.coverUrl" name="coverURL"
          class="tbox"><br>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12 myTag">
        <label for="description" class="text">Description</label><br>
        <textarea rows="5" class="form-control" formControlName="description" [(ngModel)]="this.movies.description"
          name="description"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-7" formGroupName="categories">
        <label for="movieTitle" class="text">Category<span class="requiredField">*</span></label><br>
        <select class="selector" formControlName="name" [(ngModel)]="this.movies.categories" name="categories">
          <option *ngFor="let gen of genMovies" [value]="gen.name">{{gen.name}}</option>

        </select><br>
      </div>
      <div class="form-group col-5">
        <label for="imdbScore" class="text">IMDB Score</label><br>
        <input type="text" class="tbox" formControlName="imdbScore" [(ngModel)]="this.movies.imdbScore"
          name="imdbScore"><br>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <label for="coverURL" class="text">Release date</label><br>
        <input type="text" formControlName="releaseDate" [(ngModel)]="this.movies.releaseDate" placement="top"
          name="coverURL" class="tbox"><br>
      </div>
    </div>
    <div class="form-row">
      <button [disabled]="!addMovie.valid" class="btn buttonAdauga">{{titleModal}}</button>
    </div>
  </form>
</div>
