<div class="col-lg-11" style="left: 5%">
  <div class="section1">
    <h5 class="title">Add Movie</h5><br>
    <div class="left">
      <h5 class="text">Movie title</h5><br>
      <input type="text" class="tbox" name="mobieTitle"><br>

    </div>
    <div class="right">

      <h5 class="text">Trailer URL</h5><br>
      <input type="text" class="tbox" name="TrailerURL"><br>
    </div>
    <h5 class="text">Original source</h5><br>
    <input type="text" name="originalSource" class="tboxLong"><br>
    <h5 class="text">Cover URL</h5><br>
    <input type="value" name="coverURL" class="tboxLong"><br>
    <h5 class="text">Description</h5><br>
    <textarea rows="4" name="description"></textarea>
    <div class="left">
      <h5 class="text">Category</h5><br>
      <select class="selector" name="mobieTitle">
        <option value="empty"></option>
        <option value="Animatie">Animatie</option>
        <option value="Documantar">Documantar</option>
        <option value="Actiune">Actiune</option>
        <option value="Crima">Crima</option>
      </select><br>

    </div>
    <div class="right">

      <h5 class="text">IMDB Score</h5><br>
      <input type="text" class="tbox" name="TrailerURL"><br>
    </div>
    <h5 class="text">Release date</h5><br>
    <input type="value" name="coverURL" class="tboxLong"><br>
    <button class="btn buttonAdauga">Add movie</button>
    <h5 class="cancel">Cancel</h5>
  </div>
</div>
