<div>
  <div class="container">
    <img (click)="MoviShow(movie.id)" [src]="'http://image.tmdb.org/t/p/w185' + movie.coverUrl " alt="img">
    <button class="btn1 btn btn-primary-danger">{{movie.function}}</button>
    <button class="no-click btn2 btn btn-primary-danger">{{movie.imdbScore}}</button>
  </div>
  <div class="row">
    <ul style="list-style: none">
      <li>
        <h4>{{movie.title}}</h4>
      </li>
      <li>
        <p>Release date: {{movie.releaseDate}}</p>
      </li>
      <li *ngIf="movie.categories && movie.categories.length > 0 ">
        <p>{{movie.categories[0].name }}</p>
      </li>
    </ul>
  </div>
</div>
