<div class="container">
  <div class="header">
    <h1><img src="../../../assets/img/moovie-watchers_logo.png" alt="Moovie"></h1>
  </div>
  <hr class="loginbar">
  <div class="col-md-12 col-xd-12 col-sm-12">
    <h1 *ngIf="isLoginMode" class="text-center text-white">Log in to your account</h1>
  </div>
  <form [formGroup]="loginForm" #authForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="email" formControlName="email" class="form-control" ngModel name="email" required email
        placeholder="Email adress">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      </div>
    </div>
    <div class="form-group">
      <input type="password" formControlName="password" class="form-control" ngModel name="password" required
        minlength="6" placeholder="Password" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      </div>
      <p class="text-right">Forgot password?</p>
    </div>
    <button [disabled]="loading" class="btn btn-pink" [disabled]="!authForm.valid">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </form>
</div>
