<div class="wrapper">
  <div class="logo">
    <img src="../../../assets/img/moovie-watchers_logo.png" width="254px" alt="Moovie" />
  </div>
  <hr class="loginbar" />
  <form [formGroup]="authForms" (ngSubmit)="onSubmit()" class="form-signin">
    <div class="form-signin-heading">
      <h1 *ngIf=" isLoginMode">
        Log in to your account
      </h1>
      <h1 *ngIf="isRegisterMode">
        Let’s create your account
      </h1>
      <h1 *ngIf="isResetMode">
        Reset password
      </h1>
      <p class="text-grey px-5" *ngIf="isResetMode">We will send you over email the instructions in
        order to get your
        password reseted.</p>
    </div>
    <div *ngIf="accCreated" class="alert alert-success mt-3 mb-0">Account created.</div>
    <div *ngIf="emailSent" class="alert alert-success mt-3 mb-0">Password reseted.Check email!</div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
    <div class="form-group">
      <input *ngIf="isRegisterMode" type="text" formControlName="fullName" class="form-control" name="fullName"
        autofocus="" placeholder="Full name" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <input type="email" formControlName="email" class="form-control" name="email" placeholder="Email adress" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback"></div>
    </div>
    <div class="form-group">
      <input *ngIf="!isResetMode" type="password" formControlName="password" class="form-control" name="password"
        placeholder="Password" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback"></div>
      <p class="text-right my-3">
        <a [routerLink]="" class="text-grey" (click)="resetMode()">Forgot password?</a>
      </p>
    </div>
    <button *ngIf="isLoginMode" [disabled]="loading" class="btn btn-pink"
      [disabled]="f.email.errors || f.password.errors">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
    <button *ngIf="isRegisterMode" [disabled]="loading" class="btn btn-pink"
      [disabled]="f.email.errors || f.password.errors || f.fullName.errors">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
    <button *ngIf="isResetMode" [disabled]="loading" class="btn btn-pink" [disabled]=" f.email.errors">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Reset
    </button>

    <div class="forgot text-grey text-center my-4">
      <p *ngIf="isLoginMode" class="text-grey">Don’t have an account? <a [routerLink]="" class="text-grey"
          (click)="registerMode()">Let’s
          create
          one</a>
      </p>
      <p *ngIf=" isRegisterMode || isResetMode" class="text-grey">Already have an
        account?
        <a [routerLink]="" class="text-grey" (click)="loginMode()">Log
          in</a></p>
    </div>
  </form>
</div>
