<!-- <head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//unpkg.com/slick-carousel@1.8.1/slick/slick.js"></script>
</head> -->



    <div class="container">
        
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <div class="carouselbuttons">
                    <button class="Button1" (click)="slickModal.slickPrev()">
                        <div class="icon"> <img src="./../../../assets/pictures/icon1.png" alt=""> </div>
                    </button>
                    <button class="Button2" (click)="slickModal.slickNext()">
                        <div class="icon"> <img src="./../../../assets/pictures/icon2.png" alt=""> </div>
                    </button>
                </div>
            </div>
        </div>
        <p class="recent-added">Recent added movies  (4/10)</p>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig"
            (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <button class="watchlistbutton">Add to watchlist</button>
                <button class="notemovie">8.2</button>
                <img [src]="slide.img" alt="">
                <h1 class="title-movie">Moonlight</h1>
                <p class="details-movie">Realese date:20/03/2019</p>
                <p class="details-movie">Action Drama</p>
            </div>
        </ngx-slick>

    </div>

    <!-- <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.img }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>

    <button (click)="addSlide()">Add</button>
    <button (click)="removeSlide()">Remove</button>
    <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
    <button (click)="slickModal.unslick()">unslick</button> -->
