<div class="myContainer2">
    <div class="row">
        <div class="col-md-6">
            <p class="recent-added">Recent added movies (4/{{totalslides}})</p>
        </div>
        <div class="col-md-5 text-right">
            <div class="carouselbutton">
                <button class="Button1" (click)="slickModal.slickPrev()">
                    <div class="icons"> <img src="./../../../assets/pictures/icon1.png" alt=""> </div>
                </button>
                <button class="Button2" (click)="slickModal.slickNext()">
                    <div class="icons"> <img src="./../../../assets/pictures/icon2.png" alt=""> </div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="myContainer">
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
        <div ngxSlickItem *ngFor="let slide of moviesArray" class="slide imageMovie">

            <div class="imageslide">
                <button class="watchlistbutton" (click)="addToWhatchlist(slide)" [popover]="messageOF"
                    [outsideClick]="true">Add to watchlist</button>
                <button class="notemovie">{{slide.imdbScore}}</button>
                <img [src]="slide.coverUrl" alt="">
            </div>
            <h1 class="title-movie">{{slide.title}}</h1>
            <p class="details-movie">Realese date: {{slide.releaseDate}}</p>
            <p class="details-movie">{{slide.category[0].name}}</p>
        </div>
    </ngx-slick>
</div>