<div class="containeru">
  <div class="container-black">
    <div class="header">
      <h1>MOOVIE</h1>
    </div>

    <div>
      <ul>

        <li>
          <h2>Register Page</h2>
          <hr>
        </li>
        <li> <input type="text" placeholder="Nume"></li>
        <li> <input type="email" placeholder="email"></li>
        <li> <input type="password" placeholder="password"></li>
        <li>
          <hr>
        </li>
        <li> <button class="btn btn-primary-warning">Register</button></li>
        <li>
          <hr>
        </li>
        <li>
          <span>
            <p>Already have a account? </p>
            <p> Log in</p>
          </span>
        </li>

      </ul>
    </div>
  </div>
</div>
