<app-header-admin></app-header-admin>

<!-- first page-->

<button class="btn buttonAdd">Add new</button>
<div class="input-group">
  <input type="search" placeholder="Search..." aria-describedby="button-addon1" class="search">
  <div class="input-group-append">
    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
  </div>
</div>


<div class="service_box" style="padding-bottom:5%">
  <div class="section2"><br>
    <div class="title">
      <input type="text" placeholder="Name movie" class="EditMovie">
    </div>
    <textarea placeholder="Description movie" class="DescriptionName">Aici</textarea><br><br>
  </div>
</div>
<!-- END ...first page-->
<app-footer></app-footer>
