.buttonAdauga {
  background: #F5044C;
  width: 30%;
  margin-left: 38%;
  cursor: pointer;
}

.section1 {
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
  margin-left: 3%;
}

.lupa {

  left: -80%;
}

.search {
  position: relative;
  margin-left: 7%;
  border-radius: 8px;
  width: 50%;
  text-align: 2px;
}

.section2 {
  background-color: red;
  width: 85%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: -4% !important;
}

ul {
  list-style-type: none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.delete p {
  font-family: Campton;
  font-size: 100%;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

.delete {
  background-color: #F5044C;
  width: 50%;
}

.edit {
  float: right;
  margin-left: 5%;
}

li {
  margin-right: 10%;
}

.buttonsModify {
  margin-right: 5% !important;
}

.service_box {
  padding-bottom: 5%;
}
