.buttonAdauga {
  background: #F5044C;
  width: 30%;
  margin-left: 38%;
  cursor: pointer;
}

.cancel {
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10%;
  font-family: Campton;
  font-size: 18px;
  line-height: 25px;
}

.ModalDeleteCancel {
  width: 176px;
  height: 48px;
  background: #f5044c;

  border: 1px solid #010103;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Campton;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: white;
  margin-right: 10px;
  align-items: center;
}

.section1 {
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
  margin-left: 3%;
}

.lupa {
  color: #9C9B9B;
  left: -80%;
}

.search {
  position: relative;
  margin-left: 7%;
  border-radius: 8px;
  width: 50%;
  text-align: 2px;
  border: 1px solid #9C9B9B;
  box-sizing: border-box;
}

.section2 {
  background-color: #F5044C;
  width: 85%;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: -4% !important;
}

ul {
  list-style-type: none;
}


.delete p {
  font-family: Campton;
  font-size: 100%;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

.delete {
  background-color: #F5044C;
  width: 50%;
}

.edit {
  float: right;
  margin-left: 5%;
}

li {
  margin-right: 10%;
}

.buttonsModify {
  margin-right: 5% !important;
}

.service_box {
  padding-bottom: 5%;
}

.buttonX {
  float: right;
  margin-top: 3%;
  margin-right: 3%;
}

.modalDelet {
  top: 25%;
}

.modal-body,
.modal-header {
  border: none !important;
}

.modal-footer {
  border: none;
  margin-right: 43px;
}
