<div class="body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col">
        <iframe class="trailerURL" [src]="url"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <a [href]="currentMovie.originalSourceUrl" target="_blank">
          <p class=" OriginalSource">See original source</p>
        </a>
      </div>
      <div class="col">
        <h4 class="title">{{currentMovie.title}} <span class="nota"> {{currentMovie.imdbScore}}</span></h4>
        <br />
        <span *ngIf="currentMovie.categories && currentMovie.categories.length > 0 ">
          <h6 class="category">{{currentMovie.categories[0].name}} <span> • 1h 33min</span> </h6>
        </span> <br>
        <p class="description">{{currentMovie.description}}</p> <br>
        <button class="btn " (click)="addWatchlist(currentMovie.id)">Add to watchlist</button><br>
        <p class="director"> Director: <span class="txtMovie">Chris Addison</span></p>
        <p class="director"> Writers: <span class="txtMovie">Stanley Shapiro (screenplay by), Paul Henning
            (screenplay by)</span></p>
        <p class="director"> Stars: <span class="txtMovie">Anne Hathaway, Rebel Wilson, Alex Sharp, Timothy
            Simons</span></p>
      </div>
    </div>
    <div class="section2">
      <div class="row">
        <h1>Photos</h1>
      </div>
      <div class="row">
        <div class="col">
          <p><img class="ListPhoto" [src]="'https://image.tmdb.org/t/p/w154' + currentMovie.image1" alt=""></p>
        </div>
        <div class="col">
          <p><img class="ListPhoto" [src]="'https://image.tmdb.org/t/p/w154' + currentMovie.image2" alt=""></p>
        </div>
        <div class="col">
          <p><img class="ListPhoto" [src]="'https://image.tmdb.org/t/p/w154' + currentMovie.image3" alt=""></p>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
