.myTag {
    margin-bottom: -3px;
}

.container-contact {
    height: 120%;
    background-color: black;
    padding-top: 100px;
}
.container-form {
    width: 560px;
    height: 623px;
 
    margin: auto;
    text-align: center;
    background: black;
    
}
.titleForm {
    font-family: Campton;
    font-size: 50px;
    line-height: 50%;
    padding-right: 64px;
    padding-left: 131px;
    padding-top: 42px;
    padding-bottom: 8px;
    display: flex;

    text-align: center;
    color: #FFFFFF;
    ;
}

.star {
    color: red;
}

input {
    width: 100%;
    height: 55%;
    border: 1px solid #9C9B9B;
    box-sizing: border-box;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 55%;
    border: 1px solid #9C9B9B;
    box-sizing: border-box;
    border-radius: 8px;
}

.inputDescription {
    height: 70%;
}

.selectCategory {
    width: 100%;
    height: 54%;
    border: 1px solid #9C9B9B;
    box-sizing: border-box;
    border-radius: 8px;
}

.myBtn {
    width: 100%;
    background: #F5044C;
    border-color: #F5044C;
    border-radius: 8px;
    font-family: Campton;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px;
}

.myBtnCancel {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(163, 163, 163, 0.1);
    border-radius: 8px;
    font-family: Campton;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #010103;
}

label {
    font-family: SF Pro Display;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    color: #010103;
    opacity: 0.7;
    margin-top: 12px;
}

input.ng-invalid.ng-touched {
    border-color: red;
}

select.ng-invalid.ng-touched {
    border-color: red;
}