
.titleReg {
    margin-right: 64px;
    margin-left: 64px;
    margin-bottom: 57px;
    font-family: Campton;
    font-size: 48px;
    line-height: 60px;
    /* display: flex; */
    align-items: center;
    text-align: center;
}

input {
    border: 1px solid #9C9B9B;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #0A0A0A;
}

.btnReg {
    background: #F5044C;
    border-radius: 8px;
    width: 300px;
}

.textBtn {
    font-family: Campton;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}