<div style="background-color: black"></div>
<div class="container center">
    <!-- <div class="row d-flex justify-content-center"> -->

        <!-- <div class="col-md-5 text-center"> -->

        <p style="font-size: 30px; margin-top: 107px; margin-bottom: 37px;">Moovie</p>

        <div style="background-color: #0A0A0A;">

            <p class="titleReg">Let's create your account</p>

            <form>
                <input class="form-control" type="text" name="name" placeholder="Full Name">
                <input class="form-control" type="email" name="email" placeholder="Email Adress">
                <input class="form-control" type="password" name="password" placeholder="Password">
                <button class="btn btn-success btnReg textBtn">Register</button>
            </form>

            <p>Already have an account? Log in</p>
        </div>
        <!-- </div> -->
    </div>
<!-- </div> -->