<div class="container-login">
    <p class="titleMoovie"><img class="imagMoovie" src="assets/img/moovie-watchers_logo.png" alt="No found!"></p>
    <div class="container-form">
        <div class="container-gray"></div>
        <h2 class="titleForm">Let’s create your account</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <input class="spaceInput" type="name" name="name" placeholder="Name" formControlName="name"><br>
            <span class="wrong" *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched">
                Enter a valid name!<br>
            </span>
            <input class="spaceInput" type="email" name="email" placeholder="Email" formControlName="email"><br>
            <span class="wrong" *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                Enter a valid email!<br>
            </span>
            <input class="spaceInput" type="password" name="password" placeholder="Password"
                formControlName="password"><br>
            <span class="wrong1" *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
                Enter a valid password!<br>
            </span>
            <span class="wrong12" *ngIf="emailTaken">
                Email is already taken! Please try another email!
            </span>
            <span class="corect" *ngIf="createAccount">
                Your account has been created
            </span>
            <button
                [ngClass]="[registerForm.get('password').touched || registerForm.get('email').touched || registerForm.get('name').touched ? 'btnLog2' : 'btnLog' ]"
                type="submit" [disabled]="!registerForm.valid">
                Log in
            </button>
        </form>
        <p class="textDown">Already have an account? <a [routerLink]="['/login']">Log in</a></p>
    </div>
    <br>
</div>