<div class="navbar navbar2 navbar-transparent bg-transparent">
    <!-- <li class="navbar-item">  -->
    <a class="navbar firstElement" id="firstButton" [routerLink]="['/']">Home</a>
    <a class="navbar" [routerLink]="['/movie']">Categories</a>
    <img class="navbar" src="assets/img/moovie-watchers_logo.png" alt="NOT FOUND">
    <a class="navbar" [routerLink]="['/list-moovie']">Watchlist<span class="numberOfMovie">{{numberOfMOvie}}</span></a>
    <a class="navbar" id="lastButton" [routerLink]="['/login']">Login</a>
    <a class="navbar lastElement" id="lastButton" [routerLink]="['/contact']">Contact</a>
</div>