<div class="navbar navbar2 navbar-transparent bg-transparent">
    <a class="navbar firstElement" id="firstButton" [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
    <a class="navbar" [routerLink]="['/movie']" routerLinkActive="active-link">Categories</a>
    <img class="navbar" src="assets/img/moovie-watchers_logo.png" alt="NOT FOUND">
    <a class="navbar" [routerLink]="['/list-moovie']" routerLinkActive="active-link">Watchlist<span
            class="numberOfMovie">{{numberOfMOvie}}</span></a>



    <div *ngIf="isLoggedIn; else loggedOut">
        <a class="navbar" id="lastButton" [routerLink]="['/login']" routerLinkActive="active-link">Log out</a>
    </div>
    <ng-template #loggedOut>
        <a class="navbar" id="lastButton" [routerLink]="['/login']" routerLinkActive="active-link">Log in</a>
    </ng-template>


    <a class="navbar lastElement" id="lastButton" [routerLink]="['/contact']" routerLinkActive="active-link">Contact</a>
</div>