<nav class="navbar navbar-dark" style="background-color: black;">
    <img src="assets/img/moovie-watchers_logo.png" alt="MOOVIE" class="logo">
    <div class="form-inline my-2 my-lg-0 ml-auto myConfig">
        <a class="nav-item movieText active" [routerLink]="['/']">Movies <hr></a>
        <img src="assets/img/Ellipse.png" alt="Not found">
        <div class="dropdown" dropdown>
            <p dropdownToggle class="pull-right text-center btn btn-setting dropdown-toggle myLink active " data-toggle="dropdown"
                aria-haspopup="true" aria- expanded="true">{{userName}}</p>

            <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"> <a role="menuitem" tabindex="-1" href="#" data-toggle="modal"
                        data-target="#myModal" class="logText">Log out</a></li>
            </ul>
        </div>
    </div>
</nav>