body {
  background-color: black;
  color: white;
}

.bdy {
  margin-bottom: 10%;

}

.sort {
  background-color: black;
  color: #f5044c;
  border-color: #f5044c;
  border-bottom-width: 3%;
  width: 60%;
}

input {


  background-color: #1D1D23;
  border-radius: 5px;
  color: white;


}

.lupa {
  position: absolute;
  margin-left: 60%;
}
