<body class="bdy ">

  <div class="container">
    <app-header></app-header>
    <div class="row">
      <ul style="list-style: none">
        <li>
          <h1>Welcome to your</h1>
        </li>
        <li>
          <h1>Watchlist page</h1>
        </li>
      </ul>
    </div>
    <div class="row ">
      <div class="col test">


        <input type="search" [(ngModel)]="searchText" placeholder="Search movie...">

        <i class="fas fa-search"></i>



      </div>

      <div class="col" style="margin-left: 30%; ">

        <div class="row">
          <div class="col">
          </div>
          <label for="sdropdownBasic1">Sort by:</label>
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{nameDrop}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="butn" ngbDropdownItem (click)="sendFilter('data')">ReleaseDate</button>
                <button class="butn" ngbDropdownItem (click)="sendFilter('score')">IMDBScore</button>
                <button class="butn" ngbDropdownItem (click)="sendFilter('titlu')">title</button>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-4" *ngFor="let movie of movies  | filter: searchText  ">
        <app-movie-item [movie]="movie"></app-movie-item>



      </div>
    </div>

  </div>



</body>

<app-footer></app-footer>
