<!-- <p style="color: white"> movie detail works</p>
<app-movie-detail></app-movie-detail>
<p style="color: white"> movie detail works</p> -->

<body class="bdy ">

  <div class="container">
    <app-header></app-header>
    <div class="row">
      <ul style="list-style: none">
        <li>
          <h1>Welcome to your</h1>
        </li>
        <li>
          <h1>Watchlist page.</h1>
        </li>
      </ul>
    </div>
    <div class="row ">
      <div class="col">

        <form class="form-inline active-cyan-4">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
          <i class="fas fa-search lupa" aria-hidden="true"></i>
        </form>

      </div>
      <div class="col" style="margin-left: 30%; ">
        <label for="sort">Sort by:</label>
        <button class="sort btn btn-primary-danger">Sort</button>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-3" *ngFor="let movie of movies">
        <p>
          <app-movie-item [movie]="movie"></app-movie-item>

        </p>
      </div>
    </div>
  </div>



</body>

<app-footer></app-footer>
