<div class="row d-flex justify-content-center">
  <div class="col-md-9">
    <app-header></app-header>

    <body>

      <div class="container">
        <div class="row">
          <div class="col">

            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
              allowfullscreen></iframe>
          </div>
          <div class="col">
            <ul>
              <li>
                <span>
                  <h1>Titlu
                  </h1>
                  <p>IMBD 10</p>
                </span>
              </li>
              <hr>
              <li>
                <h5>descriere aaaaaaaaaaaaaaaaaaaaaaaaa</h5>
                <h5>descriere aaaaaaaaaaaaaaaaaaaaaaaaa</h5>
                <h5>descriere aaaaaaaaaaaaaaaaaaaaaaaaa</h5>
                <h5>descriere aaaaaaaaaaaaaaaaaaaaaaaaa</h5>
                <h5>descriere aaaaaaaaaaaaaaaaaaaaaaaaa</h5>
              </li>
              <hr>
              <li>
                <button class="btn btn-primary-warning">add</button>
              </li>
              <hr>
              <li>
                <h4> director</h4>
              </li>
              <hr>
              <li>
                <h4> writers</h4>
              </li>
              <hr>
              <li>
                <h4> stars</h4>
              </li>
            </ul>
            <hr>

          </div>
        </div>
        <div class="row">
          <h1>Photos</h1>
        </div>
        <div class="row">

          <div class="col">
            <p><img src="../../assets/img/81B2m2WVzkL._SX342_.jpg" alt=""></p>
          </div>
          <div class="col">
            <p><img src="../../assets/img/81B2m2WVzkL._SX342_.jpg" alt=""></p>
          </div>
          <div class="col">
            <p><img src="../../assets/img/81B2m2WVzkL._SX342_.jpg" alt=""></p>
          </div>
          <div class="col">
            <p><img src="../../assets/img/81B2m2WVzkL._SX342_.jpg" alt=""></p>
          </div>
          <div class="col">
            <p><img src="../../assets/img/81B2m2WVzkL._SX342_.jpg" alt=""></p>
          </div>
        </div>


      </div>
      <hr>
    </body>
    <app-footer></app-footer>
  </div>
</div>
