<div class="allPage">
  <div class="container">
    <div class="col-md-5">
      <p class="titlePage">Welcome to your Watchlist page.</p>
    </div>
  </div>
  <div class="container topMargin">
    <div class="row">
      <div class="col-md-6">
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search for a movie" style="margin: 0px"
            (input)="filterMovies($event.target.value)" autocomplete="off">
          <span class="fa fa-search positionSearcBtn"></span>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="form-group row">
          <div class="col-ms-4">
            <label for="staticEmail" class="col-form-label emailWrite">Sort by</label>
          </div>
          <div class="col-sm-7">
            <div ngbDropdown class="d-inline-block positionBtn">
              <button class="btn myBtn" id="dropdownBasic1" ngbDropdownToggle
                (ngModelChange)="dataChanged($event)">{{ sortBy }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="dataChanged('title')">Title</button>
                <button ngbDropdownItem (click)="dataChanged('releaseDate')">Latest Added</button>
                <button ngbDropdownItem (click)="dataChanged('imdbScore')">Score</button>
                <button ngbDropdownItem (click)="dataChanged('category')">Category</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 50px;">
      <div>
        <div class="row">
          <div class="col-md-3 position" *ngFor="let movie of moviesArray | slice:0:limit">
            <!-- <div class="pictureContainer" [style.background-image]="image"> -->
            <img [src]="movie.coverUrl" alt="orice" [routerLink]="['/movie-details', movie.id]">
            <button class="btn btnRemove" (click)="removeFunc(movie.id)">Remove</button>
            <button class="btn btnScore">{{movie.imdbScore}}</button>
            <!-- </div> -->
            <p class="titleMovie">{{ movie.title }}</p>
            <p>{{ movie.category[0].name }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="moviesArray.length > 8 && !(moviesArray.length < limit)" style="display: flex;">
        <!-- <div *ngIf="moviesArray.length < limit"> -->
          <button class="btn myBtnMore" (click)="loadMore()">Load more</button>
        <!-- </div> -->
      </div>
    </div>
  </div>