.positionExact {
    margin-left: -10px;
}

.positionExact2 {
    margin-top: 50px;
}

.pictureContainer {
    height: 416px;
    position: relative;
    border-radius: 20px;
}

img {
    height: auto;
    margin: auto;
    width: 100%;
    cursor: pointer;
}

.btnRemove {
    position: absolute;
    width: 50%;
    max-width: 200px;
    height: 32px;
    margin-top: 113%;
    margin-left: -68%;
    background: #F5044C;
    border-radius: 4.81818px;
    font-family: Campton;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    color: #FFFFFF;
}

.positionBtn {
    margin-top: 10px;
}

.myBtn {
    color: #F5044C;
    border-color: #F5044C;
}

.dropdown-menu {
    height: 158px;
    background-color: #F5044C;
    /* overflow-x: scroll;
    scrollbar-color: red yellow; */
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #C7044C;
}

.topMargin {
    margin-top: 100px;
}

.positionSearcBtn {
    position: absolute;
    top: 20px;
    left: 337px;
    color: #FFFFFF;
}

.btnScore {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 24px;
    margin-top: 113%;
    /* bottom: 24px; */
    background: #FF9A03;
    border-radius: 5px;
    font-family: Campton;
    font-size: 10px;
    text-align: center;
    color: #FFFFFF;
}

.myContainer {
    width: 560px;
    height: 120px;
    margin-left: 56px;
    padding-top: 256px;
}

.titlePage {
    font-family: Campton;
    font-size: 48px;
    line-height: 60px;
    /* padding-left: 46px; */
    color: #FFFFFF;
}

.allPage {
    background-color: black;
    padding-top: 177px;
}

.searchBtn {
    margin-top: 200px;
}

.col-md-6 {
    padding: 0;
}

.emailWrite {
    font-family: Campton;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
}

.mySelect {
    width: 176px;
    height: 56px;
    border: 1px solid #F5044C;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
}

.mr-sm-2 {
    width: 368px;
    height: 56px;
    background: #1D1D23;
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

.position {
    position: relative;
}

.titleMovie {
    font-family: Campton;
    font-size: 18px;
    line-height: 25px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #ffffff;
    margin-bottom: 0px;
}

.myBtnMore {
    width: 176px;
    height: 48px;
    background: #F5044C;
    border-radius: 8px;
    margin-bottom: 53px;
    color: white;
    margin: auto;
    text-align: center;
}