<div class="allPage">
  <div class="myContainer">
    <div class="col-md-9">
      <h5>Welcome to your Watchlist page.</h5>
    </div>
  </div>
  <div class="container searchBtn">
    <div class="row">
      <div class="col-md-6">
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search for a movie" style="margin: 0px">
          <span class="fa fa-search positionSearcBtn"></span>
        </div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <!-- float-left  -->
        <div class="form-group row">
          <!-- <div class="containerCat"> -->
          <div class="col-ms-4">
            <label for="staticEmail" class="col-form-label emailWrite">Sort by</label>
          </div>
          <div class="col-sm-7">
            <select class="form-control mySelect">
              <option>Default select</option>
            </select>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 50px;">
    <div>
      <div class="row">
        <div class="col-md-3" *ngFor="let movie of moviesArray; let image of backgroundImage">
          <!-- <div class="pictureContainer" [style.background-image]="image"> -->
            <img src="http://3.bp.blogspot.com/_uO4uQnJmXME/ShACQ2JxPBI/AAAAAAAAAK4/hCMDhLKJB4A/s1600-h/P5170017.JPG" alt="orice">
            <button class="btn btnRemove">Remove</button>
            <button class="btn btnScore">{{movie.imdbScore}}</button>
          <!-- </div> -->
          <p>{{ movie.title }}</p>
          <p>{{ movie.category[0].name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>