<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          <img src="../../assets/img/moovie-watchers_logo.png" alt="Moovie" />
        </h1>
      </div>
      <div class="col"></div>
      <div class="col">
        <ul>
          <li>Press Room</li>
          <li>Advertising</li>
          <li>Jobs</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>Contact Us</li>
          <li>Register</li>
          <li>News</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>Conditions of Use</li>
          <li>Privacy Pahey</li>
          <li><a [routerLink]="['/adminMoviesList']">Login</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <p>@Copyright 1990-2019 Moovie.com</p>
        <br />
      </div>
    </div>
  </div>
</footer>
