<footer>

  <div class="box1">
    <h1><img src="../../assets/img/moovie-watchers_logo.png" alt="Moovie"></h1>
  </div>


  <div class="box">
    <ul>
      <li> Press Room </li>
      <li> Advertising </li>
      <li> Jobs </li>
    </ul>
  </div>
  <div class="box">
    <ul>
      <li> Contact Us </li>
      <li> Register </li>
      <li> News </li>
    </ul>
  </div>
  <div class="box">
    <ul>
      <li> Conditions of Use </li>
      <li> Privacy Pahey </li>
      <li> interest Based Ads </li>
    </ul>
  </div>

  <hr>

  <div class="after-box">
    <p>Copyright 1990-2019 Moovie.com</p>
    <br>
  </div>
</footer>
