<div class="firstContainer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/img/moovie-watchers_logo.png" alt="dasda">
            </div>
            <div class="col-md-6 d-flex justify-content-around">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Press Room</th>
                                <td>Contact Us</td>
                                <td>Conditions of Use</td>
                            </tr>
                            <tr>
                                <th>Advertising</th>
                                <td>Register</td>
                                <td>Privacy Policy</td>
                            </tr>
                            <tr>
                                <th>Jobs</th>
                                <td>News</td>
                                <td>Interest-Based Ads</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="myContainer"></div>
        <div class="row">
            <div class="col-md-6">
                <h6>Copyright © 1990-2019 Moovie.com, Inc.</h6>
            </div>
            <div class="col-md-4">
                <h6 id="copyrightText">Follow us on social media</h6>
            </div>
            <div class="col-md-2 socialMediaBig">
                <img src="assets/img/facebook.jpg" alt="" class="socialMedia">
                <img src="assets/img/twitter.jpg" alt="" class="socialMedia">
                <img src="assets/img/youtube.jpg" alt="" class="socialMedia">
            </div>
            <br>
        </div>
    </div>
    <br>
</div>