header {
  background: url('../../assets/img/bg.png') no-repeat 0 0;
  border-top: 29px solid transparent;
  background-size: 100%;
  background-size: cover;


}

.containerHeader {
  margin-top: 5%;
  margin-bottom: 5%;
}

div {
  color: white;
}

ul {
  list-style: none;
  margin-top: 20%;
}

.btn-primary-danger {
  background-color: rgb(197, 55, 126);
  color: white;
  margin-right: 2%;

}

.btn-primary-secondary {
  background-color: rgb(19, 32, 32);
  color: white;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.col {
  width: 100%;
  height: auto;
}

body {
  scroll-behavior: smooth;
}

.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn1 {
  position: absolute;
  top: 88%;

  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f5044c;
  color: white;
  width: 40%;


}

.container .btn:hover {
  background-color: black;
}

.container .btn2 {
  text-align: center;
  background-color: #ff9a03;
  color: white;
  position: absolute;
  top: 88%;

  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 16%;


}

.no-click {
  pointer-events: none;
}
