<!-- <app-header></app-header>
<hr>
<app-movies></app-movies>
<hr>
<h1>Watchlist</h1>
<app-watchlist></app-watchlist>
<app-footer></app-footer> -->


<!-- <div class="containeru">
  <div class="container-black">
    <div class="header">
      <h1>MOOVIE</h1>


    </div>

    <div>
      <ul>

        <li>
          <h2>Register Page</h2>
          <hr>
        </li>
        <li> <input type="text" placeholder="Nume"></li>
        <li> <input type="email" placeholder="email"></li>
        <li> <input type="password" placeholder="password"></li>
        <li>
          <hr>
        </li>
        <li> <button class="btn btn-primary-warning">Register</button></li>
        <li>
          <hr>
        </li>
        <li>
          <span>
            <p>Already have a account? </p>
            <p> Log in</p>
          </span>
        </li>

      </ul>
    </div>
  </div>
</div> -->


<!-- <div class="container-header">
  <button>Home</button>
  <button>Categories</button>
  <h1>Moovie</h1>
  <button>Watchlist</button>
  <button>Contact</button>
</div> -->

<footer>

  <div class="box1">
    <h1>Moovie</h1>
  </div>


  <div class="box">
    <ul>
      <li> Press Room </li>
      <li> Advertising </li>
      <li> Jobs </li>
    </ul>
  </div>
  <div class="box">
    <ul>
      <li> Contact Us </li>
      <li> Register </li>
      <li> News </li>
    </ul>
  </div>
  <div class="box">
    <ul>
      <li> Conditions of Use </li>
      <li> Privacy Pahey </li>
      <li> interest Based Ads </li>
    </ul>
  </div>

  <hr>

  <div class="after-box">
    <p>Copyright 1990-2019 Moovie.com</p>
    <br>
  </div>
</footer>
