/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: campton;
    src: url(assets/font/Campton-BoldDEMO.otf) format("opentype");
    
  }
html, body {
    height: 100%;
}